@charset "UTF-8";
@media screen and (min-width: 368px) and (orientation) {
  main {
    width: 100%;

    padding: 20px 20px;
    
    font-size: 0.8em;
    text-shadow: 1px 1px 1px black !important;
    
    }
  .card {
    background-color:rgba(219, 241, 238, 0.6);
    width: 100% !important;
    
    }

body {
    height:3900px !important;
    background-size: cover !important;
    background-position: 22% 20%;
    background-repeat: no-repeat;   
    background-image:linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)), url("/images/background.jpg"); 
    opacity: 0.9;
    }
.a{
    margin-left: 2%;
    margin-top:5%;
    margin-bottom: 8%;
    width: 125%;
    height: 55px;
    font-size: 28px;
    font-weight: bold;
    }
.btnradius{
    width: 100%;
    height:60px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 20px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    box-shadow: inset 0.1em 0.1em 0.1em 0.1em rgba(235, 253, 248, 0.616); 
    }

}







* {
    font-family: 'Anton', sans-serif;
    font-family: 'Kaushan Script', cursive;
    font-size: 18px;
    font-weight: bold;

}



.textebarre{
    text-decoration:line-through !important;
}

.texterouge{
    color: crimson !important;
}


.a2{
    text-align: center;
    width: 180%;
    height: 45px;
    color:cadetblue;
    font-size: 22px;
    font-weight: bold;
}


h1,h2,h3,h4,h5,h6{
    color:rgb(238, 140, 11);
    
}

.navbar {
    background-color: rgba(255, 81, 0, 0.561) !important;
}

/*css progress bar */

.btnradiusplus{
    width: 120%;
    height:60px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 20px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    box-shadow: inset 0.1em 0.1em 0.1em 0.1em rgba(235, 253, 248, 0.616);
}

span{
    color:red;
    font-size:1em;
}

.compt{
    
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 45px;
    text-align: center;
}



