{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
            {% if app.request.get("_route") == "create_task" %}
            <h1>My todo list App ajouter une nouvelle tâche </h1>
           
            {% else %} 
            
            <h1>My todo list App modifier la tâche {{task.title}} </span> </h3>
            
            {% endif %}

        {{form_start(form)}}

            {{form_row(form.title)}}

            {% if app.request.get("_route") == "create_task" %}
            <div class="container  d-flex justify-content-center">
            <input type="submit" value="Ajouter" class="btn btn-info  btnradiusplus mt-3">
             </div>
            {% else %} 
            <div class="container  d-flex justify-content-center">
            <input type="submit" value="Modifier" class="btn btn-warning btnradiusplus mt-3">
            </div>
            {% endif %}
        {{form_end(form)}}
    </div>
{% endblock %}