{% extends "base.html.twig" %}

{% block body %}
<div class="container d-flex justify-content-center">
    <h1 > My todo List APP créez votre nouvelle liste !</h1>
</div>  
    <div class="container">
            {% if app.request.get("_route") == "create_list" %}
            <h5>Taper votre nouvelle liste : </h5>
            {% else %} 
            <h3>Modifier la liste <span style="color: {{list.color}}" > {{list.name}} </span> </h3>
            {% endif %}

        {{form_start(form)}}
            {{form_row(form.name)}}
            {{form_row(form.color)}}
            {% if app.request.get("_route") == "create_list" %}
            <div class="container d-flex justify-content-center">
            <input type="submit" value=" Créer" class="btn btn-success  btnradiusplus mt-3">
            </div>
            {% else %} 
            <div class="container d-flex justify-content-center">
            <input type="submit" value="Modifier" class="btn btn-warning  btnradiusplus mt-3">
            </div>
            {% endif %}
        {{form_end(form)}}
    </div>
{% endblock %}