{% extends "base.html.twig" %}

{% block body %}
<div class="container d-flex justify-content-center">
    <h1 > My todo list App</h1>
    
</div>  
<div class="container d-flex justify-content-center">
    
    <a href="/create-list" class="btn btn-success a btnradiusplus "><img src="https://img.icons8.com/color/30/000000/add-list.png"/>  Créer Vos listes </a></h4>
</div>    
        <div class="container d-flex flex-wrap ">
        
        {% for list in lists %}
            <div class="card  m-3 mb-3" >
                    <div class="card-body ">
                    
                    <div class="container d-flex justify-content-center">
                    
                    </div>
                        <h5 class="card-title" style="color:{{list.color}}">Voici votre liste : {{list.name}}</h5>
                        <div class="container d-flex justify-content-center">
                        <a href="/update-list/{{list.id }}" class="btn btn-warning a btnradius "> <img src="https://img.icons8.com/emoji/30/000000/pen-emoji.png"/></i> Modifier </a>
                        </div>
                        <div class="container d-flex justify-content-center">
                        <a href="/delete-list/{{list.id }}" class="btn btn-danger btnradius a "><i class="fas fa-trash-alt"></i> Effacer </a><br> 
                        </div>
                        <h4 >Ajout de tâches</h4>
                        <div class="container d-flex justify-content-center">
                        <a href="/create-task/{{list.id }}" class="btn btn-info btnradius a "><img src="https://img.icons8.com/dusk/30/000000/add-property.png"/>  Ajouter </a>
                        </div>
                        <h4>Voici vos tâches :</h4>

                        {% for task in list.tasks %}
                                <p class="card-text">
                                    
                                    <a href="/update-task-status/{{task.id }}" >
                                    {% if task.completed %}
                                        
                                        <p class="textebarre texterouge"><i class="fas fa-square  texterouge"> </i> {{task.title}} <p> 
                                        <img src="https://img.icons8.com/doodle/50/000000/ranners-crossing-finish-line.png"/> C'est terminer 
                                        <img src="https://img.icons8.com/doodle/48/000000/finish-flag.png"/>
                                        </p>                                      
                                    {% else %}
                                        <i class="far fa-square"> {{task.title}}</i>
                                        
                                    {% endif %}  
                                    <div class="container d-flex justify-content-center">
                                    <a href="/update-task/{{task.id }}" class="btn btn-warning btnradius a "><i class="fas fa-user-edit"></i> Modifier </a>
                                    </div>
                                    <div class="container d-flex justify-content-center">
                                    <a href="/delete-task/{{task.id }}" class="btn btn-danger btnradius a "><i class="fas fa-trash-alt"></i> Effacer </a>
                                    </div>
                                     
                            {% endfor %}
                            
                            {% set counter = ( counter | default(0) ) + 1 %}
                                    <p class="compt">
                                    <img src="https://img.icons8.com/external-inipagistudio-lineal-color-inipagistudio/40/000000/external-danger-neighborhood-watch-inipagistudio-lineal-color-inipagistudio.png"/>
                                    Vous avez {{list.tasks.count }}
                                    <img src="https://img.icons8.com/external-flatart-icons-flat-flatarticons/50/000000/external-task-work-from-home-flatart-icons-flat-flatarticons.png"/>  
                                    {{   'en cours à terminer'}}
                                    </p>

                    </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block javascripts %}



{% endblock %}
    